<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<main>
<div class="Quiz" >
  <h1 i18n class="gradient-title" >Willkommen auf einer Quizseite zum Lernen von JavaScript, TypeScript und Angular</h1>
  <nav class="custom-navbar">
    <div class="nav-left">
      <a routerLink="/app-startseite">🏠 Home</a>
      <a routerLink="/app-wissenwertes">📘 Wissen</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="quizDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          🧩 Quiz Auswahl
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="/app-java-script-startseite">
              <img src="https://cdn.worldvectorlogo.com/logos/logo-javascript.svg" alt="JS" class="nav-icon" />
              JavaScript
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/app-type-script-startseite">
              <img src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" alt="TS" class="nav-icon" />
              TypeScript
            </a>
          </li>
          <li>
            <a class="dropdown-item" routerLink="/app-angular-startseite">
              <img src="https://angular.io/assets/images/logos/angular/angular.svg" alt="AN" class="nav-icon" />
              Angular</a></li>
        </ul>
      </li>
      <a *ngIf="authService.isLoggedIn()" routerLink="/app-score-board">🏆 Scoreboard</a>
    </div>
  
    <div class="nav-right">
      <a *ngIf="authService.isAdminLoggedIn()" routerLink="/app-admin">🛠️ Admin</a>
      <a *ngIf="!authService.isLoggedIn()" routerLink="/app-login">🔐 Login/Registrieren</a>
      <button *ngIf="authService.isLoggedIn()" (click)="authService.logout()">🚪 Logout</button>
    </div>
  </nav>
</div>
</main>
<router-outlet></router-outlet>